<h2>Write your Username and verification Code</h2>

<form action="/auth/confirm/THE-CONFIRMATION-CODE-OF-THE-USER" method="POST">
    <label for="verificationCode">Verification Code</label>
    <input name="verCode" type="text" placeholder="Verification Code" id ="verificationCode">
    <br/>

    <label for="usrname">Username</label>
    <input name = "usrName" type="text" placeholder = "Username" id ="usrname">
    <br/>

    <input type="submit" value="Verify Code" id="verifyButton">

</form>