<h1>Confirmación de registro</h1>

<p>Usted se ha registrado con estos datos:</p>

<h6>Username: {{updatedUser.username}}</h6>
<h6>Estado: {{updatedUser.status}}</h6>
<h6>Email: {{updatedUser.email}}</h6> 