<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h2>Confirm</h2>
      {{#if message }}
      <div class="alert alert-success">
          <h1>{{ message }}</h1>
      </div>
      {{/if}}
  </div>
</div>