<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-5">
      <h3 class="text-info mb-4">Hello {{user.username}}!</h3>
      <h6 class="text-info">Your status account is: {{user.status}}</h6>
    </div>
  </div>
</div>
