<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h2>Wellcome</h2>
    <div class="card">
      <div class="card-body">
        <p>Username: {{ user.username }}</p>
        <p>Status: {{ user.status }}</p>
        <p>Email: {{ user.email }}</p>
        <p>ConfirmationCode: {{ user.confirmationCode }}</p>
      </div>
    </div>
  </div>
</div>