<h1 class="text-center py-5">WELCOME TO THE NODEMAILER SITE</h1>
<h5 class="text-center">Hi {{username}}!</h5>
<h6 class="text-center">Your status is: {{status}}</h6>
<div class="container">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <img src="https://i.ytimg.com/vi/d4gHBfiR7LY/hqdefault.jpg" alt="dandy">
    </div>
  </div>
</div>