<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h2>Send Code Again</h2>
    <form action="/auth/resend" method="POST" id="form-container">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="text" name="email" placeholder="Your email">
      </div>
      {{#if message }}
        <div class="alert alert-warning">{{ message }}</div>
      {{/if}}
      <button class="btn btn-primary">
        Send
      </button>
    </form>
  </div>
</div>