<form action="/login" method="POST">
  <div>
    <label>Email</label>
    <input type="email" name="email">
  </div>

  <div>
    <label>Password</label>
    <input id="password" type="password" name="password">
  </div>
  <div>
    {{!-- <p>{{errorMessage}}</p> --}}
  </div>
  <input type="submit" value="Login">
</form>