<h2>Email verification sent!</h2>
<p>An emai verification has been sent to {{email}}</p>
<p>Please verify your email and click on the message's link</p>
<p>to finish with the registration process.</p>