<div class="flex-column height">
  <h2>Verify your account</h2>
  <p>A verification mail has been sent to {{email}}</p>
  <p>Please check your mailbox and look for the e-mail we sent you.</p>
  <p>Don't worry, this is the final step.</p>
</div>