<h1>{{title}}</h1>
<p>Hello! These are the steps you should follow:
  <ul>
    <li>Try to create a new user. Remember to fill all the fields without exception.</li>
    <li>Username or email must be unique.</li>
    <li>A confirmation email will be sent to your inbox afterwards.</li>
    <li>Go check it and validate your account.</li>
    <li>Log in and enjoy your private page.</li>
    <li>You are done!</li>
  </ul>
</p>
