<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/assets/css/docs.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
         <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="/auth/signup">Signup</a></li>
    <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </header>

<main id="content" role="main">
  <main class="bd-content p-5" role="main">
    {{{body}}}
    </main>
  </main>


  <script src="/javascripts/script.js"></script>
</body>
</html>