<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

        <h4><a href="/auth/signup">Sign up</a> | <a href="/auth/login">Log in</a></h4>
    
        



    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
