<div class="email-container">
  <img
    src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/4017/s200/logo-ironhack-blue.png"
    alt="Logo Ironhack">
  <h1>Ironhack Confirmation Email</h1>
  <h3>Hello ${username}</h3>
  <p>Thanks to join our community! Please confirm your account clicking on the following link</p>
  <a href="http://localhost:3000/auth/confirm/${confirmationCode}" target="_blank">Confirm</a>
</div>