{{#if username}}
<h2>Welcome to the jungle!</h2>
<p>You have successfully logged in :)</p>
<p>Username:{{username}} Status:{{status}}</p>
{{else}}
<h2>Forbidden</h2>
<p>You don't have access to this resource, please log in and come back.</p>
{{/if}}