<style>

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: black;
}

section img{
  width:15%;

}


</style>

<section>


<img src="https://pbs.twimg.com/profile_images/1027113085667037184/MOITiGuj_400x400.jpg" alt="nombre">
<h1>Ironhack Confirmation Email</h1>
<h1>Hello friend {{{username}}}</h1>
<h3>Thanks to join our community! Please confirm your account clicking on the following link</h3>
<a href="{{endpoint}}">{{endpoint}}</a>
<h3> Great to see you creatinng awesome webpages you with us! </h3>

</section>