<footer class="container-fluid mt-auto footer ">
    <div class="row d-flex align-items-center">
        <div class="col-md-4 text-center">

        </div>
        <div class="col-md-4 text-center">
            
        </div>
        <div class="col-md-4 text-center mt-3">
            <p>t r e e  ®</p>
        </div>
    </div>
</footer>