<h1>Confirmación de registro</h1>
<h3>Este lab toca ser brutalista. Tengo sueño.</h3>

<h6>Username: {{updatedUser.username}}</h6>
<h6>Status: {{updatedUser.status}}</h6>
<h6>Email: {{updatedUser.email}}</h6>