<h1 class="main-title">App<span>mailer</span></h1>
<p class="account-activated">Account created</p>
<p class="account-activated">We've sent you a confirmation email</p>
<a href="/" class="button primary-button go-home-button">Home</a>
