{{#if updatedUser}}
  <h1>Welcome!</h1>
  <h3>You have completed the registration process successfully.</h3>
  <h3>Now you can log in and enjoy our app!</h3>
{{/if}}

{{#if err}}
  <h3>User not found. Please sign up!</h3>
{{/if}}