<p>Your account has been confirmed! </p>

<a href="/auth/login" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Login</a>
{{!-- <a href="/auth/profile" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Profile</a> --}}