<h2>Activacion, {{user.username}}</h2>

<img src=“https://www.iecisa.com/export/sites/web_iecisa/documents/blogs/20171213-iecisa-imagen-de-marca.jpg” alt=“”>

<a href=“/auth/profile/{{user._id}}“>View Profile</a>