<h2>Extasiiiii Extanooooo esta vez te he activado yoooo, {{user.username}}</h2>

<img src="https://fotografias.lasexta.com/clipping/cmsimages01/2017/04/21/7E01C9A1-B362-4C71-A7A3-19A8F17DBBED/58.jpg" alt="">

<a href="/auth/profile/{{user._id}}">View Profile</a>