{{!-- Iteration 3 - Confirmation Route --}}

<section>
<div id="profile"> 
<img id="logo" src="https://www.emagister.com/es/albums/6/0/5/4/0/xl_cropped_a7bbf2c4d2c1981b6da999bad8c4a5d2.png" alt="Ironhack-logo">
<h1>IronHack Confirmation Email</h1>
<h3>Thank you for signed up {{username}}!</h3>
<p id="confirmation">Your mail verification code is: {{status}}</p>

</div>
</section>