<h1>Ironhack Confirmation Email</h1>
<h2>Hello, ${username}.</h2>
<p>Thanks to join our community! Please confirm your account clocking on the following link:</p>
<p><a href="http://localhost:3000/auth/confirm/${confirmationCode}">http://localhost:3000/auth/confirm/${confirmationCode}</a></p>
<p>Freat to seee you creating awesome webpages you with us! 😎</p>