<h1 class="main-title"><a href="/">App<span>mailer</span></a></h1>
<h2 class="title">We are waiting four you to confirm your email!</h2>
<p class="waiting-message">Check your inbox mail and activate your account by clicking the link we provided you</p>
<a href="/" class="button primary-button go-home-button">Go gome</a>
