<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  IT'S SUMMER, GO HOME!

  <img src="https://media.giphy.com/media/26tn71jFf5TYoc3S0/giphy.gif" alt="summer">
</body>
</html>