<div class="columns is-centered">
  <div class="column is-6">
    <h2 class="title is-2">Profile</h2>
    <hr>
    <div class="box">
			<p>Current user: <strong>{{this.user}}</strong></p>
			<p>Staturs: <strong>{{this.status}}</strong></p>
    </div>
  </div>
</div>