

<h2>{{user.username}}</h2>
<p>{{user.status}}</p>

<iframe src="https://giphy.com/embed/26xBSgDOqjPv8xT9u" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/chloexhalle-chloe-and-halle-26xBSgDOqjPv8xT9u">via GIPHY</a></p>