<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Your email">
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <label for="photo">Profile Photo</label>
  <input type="file" name="photo" id="photo">
  <br><br>
   <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LfrTOgUAAAAAAnb0lKzCjHcJ-DZcRU5yp_hd8km"></div>

  <br><br>
  <button class="submitBtn" disabled>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
