<div class="columns is-centered">
  <div class="column is-6">
    <h2 class="title is-2">Signup</h2>
    <div class="box">
      <form action="/auth/signup" method="POST" id="form-container">
      <div class="field">
        <label for="username">Username</label>
        <input class="input" id="username" type="text" name="username" placeholder="JonSnow">
      </div>
      <div class="field">
        <label for="email">Email:</label>
      <input class="input" id="email" type="email" name="email" placeholder="yourmail@some.com">
      </div>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <hr>
      <button class="button is-info is-fullwidth">Create account</button>
      <hr>
      <p class="account-message">
        Do you already have an account?
        <a class="button is-text" href="/auth/login">Login</a>
      </p>
    </form>
    </div>
  </div>
</div>