<div class="box-form">
  <nav>
    <a href="/auth/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
  </nav>
  <div class='content-box'>
    <h3>An Email has been sended to:</h3>
    <h4>{{mail}}</h4>
    <p>Check for active ur acount</p>
  </div>
</div>