<h1>{{message}}</h1>
<a href="/auth/profile/{{user._id}}">view profile</a>
<img src="https://previews.123rf.com/images/zhanna26/zhanna261707/zhanna26170700001/81714031-indian-mujer-mano-saludo-postura-de-namaste-ilustraci%C3%B3n-vectorial.jpg">