<div class="container" id="confirmation">

    <h1>Bienvenido {{updateStatus.username}}, su cuenta ha sido verificada.</h1>
    <h2> Su estado ha cambiado a "{{updateStatus.status}}"</h2>

</div>
<div class="">
    <h2>¿Deseas ir a su perfil? <a href="/profile" class="btn btn-dark"> IR </a></h2>
</div>