<h1>Validación de usuarios</h1>
{{#if user}}
<h2>Enhorabuena {{user.username}}. ¡Ya formas parte del grupo de usuarios registrados!</h2>
{{else}}
<h2>Hubo un error en la validación. El código de confirmación es erroneo</h2>
{{/if}}