<h1>HELLO</h1>

{{!-- <div class="container">
    <form action="/send-email" method="POST">
        <div class="mb-3 form-label">
            <label for="">Email</label>
            <input class="form-control" type="email" name="email" id="">
        </div>
        <div class="mb-3 form-label">
            <label for="">Subject</label>
            <input class="form-control" type="text" name="subject" id="">
        </div>
        <div class="mb-3 form-label">
            <label for="">Message</label>
            <textarea class="form-control" type="text" name="message" id=""></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> --}}