<h1 style="color: white;">{{title}}</h1>
<p style="color: white;">Welcome to {{title}}</p>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-5">
            <h3 class="mb-5" style="color: white;">Crea una cuenta o Inicia Sesión</h3>
            <div>
                <a class="btn btn-danger" href="/auth/login">Iniciar Sesión</a>
                <a class="btn btn-primary" href="/auth/signup">Crear Cuenta</a>
            </div>
        </div>
    </div>
</div>