
<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-5">
      <h1 class="text-info mb-4">Hello IRONHACKER!</h1>
      <h6 class="text-info mb-5">Your should create account to enter or login</h6>
      <a class="btn btn-primary" href="/auth/login">Login</a>
      <a class="btn btn-primary" href="/auth/signup">Create account</a>
    </div>
  </div>
</div>