<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
<a href="/auth/profile/{{user.id}}">My profile</a>
<a href="/auth/logout">Logout</a>
{{else}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
{{/if}}