
<img src="https://cdn-images-1.medium.com/max/1200/1*69RcxrWXuk385lSxkIYYLA.png" alt="Ironhack" style="width:300px;height:300px;">
<h1>Hello {{username}} 💙 welcome to your profile</h1>
<p>Your status now is: Active </p>
<a href="/logout">Logout</a>