<style>
  section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    width: 30vw;
    height: 50px;
    border-radius: 5px;
    background-color: deeppink;
  }
</style>

<section>
<a href="{{endpoint}}">Da click aqui</a>
</section>