<h2><b>{{email}}</b>'s Profile</h2>
<img src="https://phantom-elmundo.unidadeditorial.es/25c0a02b138c60af277e80deda6ea65d/resize/473/f/webp/assets/multimedia/imagenes/2021/02/07/16127256449524.jpg" alt="profile-picture">
<p>Status active: <b>{{active}}</b></p>