<div class="container-fluid h-100 in-back py-5">
        <div class="container d-flex flex-column text-center pb-5 in-in-back">
            <h3 class="my-5 text-grey">{{currentUser.email}}</h3>
            <div>
                <a class="button-action mb-3" href="/">Home</a> 
            </div>
            <form action="/logout" method="POST">
                <Button class="button-action" type="submit">Logout ></Button> 
            </form>
        </div>
</div>