<div class="container-fluid h-100 in-back py-5">
        <div class="container d-flex flex-column text-center py-5 in-in-back">
            <h3 class="display-3 my-5">Check your inbox!</h3>
            <p class="lead">You are just one step away from joining the tree comunity<p>
        </div>
</div>