<div class="box-form">
  <nav>
    <a  href="/"><button type="button" class="btn btn-primary">Home<button></a>
    <a href="/auth/login"><button type="button" class="btn btn-success">Login<button></a>
    <a href="/auth/signup"><button type="button" class="btn btn-info">Signup</button></a>
  </nav>
  <div class='content-box'>
    <h3>The user has been activated</h3>
    <h4>{{user.username}}</h4>
  </div>
</div>