<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>
<body>
  <h1>Hii!!</h1>
  <iframe src="https://giphy.com/embed/wpoLqr5FT1sY0" width="480" height="348" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <a href = "http://localhost:3000/auth/confirm/{{user.confirmationCode}}">Confirm your email here</a>
</body>
</html>