<div class="container">
    <div class="row">
        <div class="column d-flex align-items-center justify-content-center">
            <h1>Please, check your email</h1>
        </div>
        <div class="column d-flex align-items-center justify-content-center my-3 py-3">
            <h3>We have sent you a confirmation email.</h3>
        </div>
        <div class="column d-flex align-items-center justify-content-center ">
             <a class="btn btn-primary " href="/login" role="button">Log in</a>
        </div >
        <div class="column d-flex align-items-center justify-content-center my-3 py-3">
            <img src="https://i.pinimg.com/originals/29/d8/35/29d835a8e1bfcdb1cbacb1883f968f9e.png" alt="email image">
        </div>
    </div>
</div>