<h1>User Logged</h1>
<p> USER: {{currentUser.userName}}</p>
<P> STATUS: {{currentUser.status}}</P>
<a class="btn btn-primary" href="/logoff" role="button">Logoff</a>
<a class="btn btn-primary" href="/main" role ="button">Main page</a>