<div class="box-form">
  <nav>
    <a href="/auth/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
  </nav>

  <div class='content-box'>

    <h1>{{user.username}}</h1>
    <h2>User Active</h2>
</div>